* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Add styles here! */

strong {
  color: green;
}

header {
  padding-bottom: 40px;
  border-bottom: 4px solid #666;
  height: min-content;
}

.max-width-wrapper {
  max-width: 600px;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

main {
  background-color: #999;
  padding-top: 40px;
  min-height: 100%;
}

h2 {
  background-color: orange;
  width: fit-content;
  padding: 20px 44px;
  border-bottom: 4px solid olive;
  margin-left: -44px;
}

.intro-chunk {
  padding-left: 40px;
  padding-right: 160px;
  font-size: 1.5em;
}

.card {
  padding: 6px 28px 56px;
  background-color: white;
  border-bottom: 4px solid #666;
}
